<% page_title("Sign In") %>
<h1>Sign In</h1>
<%- unless flash[:error].nil? -%>
<div class="error">
<%= flash[:error] %>
</div>
<%- end -%>
<%= form_for(:session, :url => sessions_path) do |f| -%>
  <div class="fields">
    <%= f.label :email %>
    <br/>
    <%= f.text_field :email %>
  </div>
  <div class="fields">
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "Sign In" %> or <%= link_to 'Signup', signup_path %>
<%- end -%>
